

.habilidades{
    max-width: 1920px;
    width: 100%;
    display: grid;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
    "title title"
    "description description";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr ;
    padding-top: 50px;
}

.description_aprendendo{
    grid-area: description;
    background-color: var(--gray-color);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 150px;
}

.titulo-projetos{
    grid-area: title;
    font-size: 13rem;
    text-align: center;
    background-image: linear-gradient(120deg, #b700ff, #25B9F4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}


.div_o_que_vou_aprender_texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    gap: 40px;
}

.titulo_texto_o_que_vou_aprender{
    display: flex;
    font-size: 3rem;
    font-weight: 900;
    color: var(--blue-color);
}


.texto_descricao_o_que_vou_aprender{
    font-size: 1.7rem;
    max-width: 650px;
    width: 85%;
}

.novas_skills{
    grid-area: description;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    gap: 40px;
    padding-top: 70px;
}

.titulos_tecnologias_aprendendo{
    display: flex;
    font-size: 3rem;
    font-weight: 900;
    color: var(--blue-color);
    
}

.icones_aprendendo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 250px;
    width: 600px;
    background-color: var(--gray-color);
    gap: 60px;
}

.icones_gerais_aprendendo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    border: 4px solid var(--white-color) ;
    background-color: var(--gray-color);
}