.home{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-color);
    background-repeat: no-repeat;
    background-size: cover;
}
.profile{
    display: flex;
    align-items: center;
    gap: 48px;
}

.profile__text{
    font-size: 1.75rem;
}
.profile__name{
    font-size: 2.25rem;
    color: var(--blue-color);
}

.profile__foto{
    display: flex;
    height: 400px;
    width: 400px;
    border-radius: 50%;
}