.logo{
    
    font-size: 1.5rem;
}
.logo::before{
    content: "<";
    font-size: 2rem;
    color: var(--blue-color);
    font-weight: 700;
}

.logo::after{
    content: "/>";
    font-size: 2rem;
    color: var(--blue-color);
    font-weight: 700;
}

.icones_habilidades{
    display: flex;
    
}