.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    gap: 72px;
    font-size: 1.25rem;
    color: var(--white-color);
}

.menu li{
    border-bottom: 4px solid transparent;
    transition: border-color .5s;
}

.menu li:hover{
    border-bottom: 4px solid var(--blue-color);
    color: var(--blue-color);
}