:root{
    --red-color: #FF0000;
    --purple-color: #e100ff;
    --yellow-color: #FFDD07;
    --blue-color: #25B9F4;
    --gray-color: #474A51;
    --white-color: #f1f1f1;   
    --black-color: #000000;
    --black-transparent-color: #0000008c;
    
}