.sobre-mim{
    max-width: 1920px;
    width: 100%;
    display: grid;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
    "title title"
    "description description";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr ;
}
.section-title{
    grid-area: title;
    font-size: 13rem;
    text-align: center;
    background-image: linear-gradient(120deg, #b700ff, #25B9F4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.description{
    grid-area: description;
    background-color: var(--black-transparent-color);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 120px;
}

.div_sobre_mim_texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    gap: 40px;
}

.titulo_texto_sobre_mim{
    display: flex;
    font-size: 3rem;
    font-weight: 900;
    color: var(--blue-color);
}

.description__title{
    font-size: 4rem;
    color: var(--primary-color);
    
}
.description__text{
    font-size: 1.7rem;
    max-width: 650px;
    width: 85%;
    
}

.description_front_end_web{
    font-size: 1.5rem;
    max-width: 850px;
    width: 85%;
    line-height: 150%;
    color: var(--blue-color);
}

.description_front_end_mobile{
    font-size: 1.5rem;
    max-width: 850px;
    width: 85%;
    line-height: 150%;
    color: var(--purple-color);
}

.description_back_end{
    font-size: 1.5rem;
    max-width: 850px;
    width: 85%;
    line-height: 150%;
    color: var(--yellow-color);
}


.div_minhas_habilidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    padding-top: 40px;
    gap: 40px;
}

.titulo_minhas_habilidades{
    display: flex;
    font-size: 3rem;
    font-weight: 900;
    color: var(--blue-color);
}

.icones_habilidades_possuo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 400px;
    width: 600px;
    background-color: var(--black-color);
    gap: 60px;
}

.icones_gerais{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    border: 4px solid var(--white-color) ;
    background-color: var(--gray-color);
}

