:root{
    --primary-color: #FEDC00;
    --icon-color: #252525;
}
html{
    scroll-behavior: smooth;
}
body{
    display: grid;
    grid-template-areas: "content";
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    background-color: #000;
}
header{
    position: fixed;
    grid-area: content;
    z-index: 121;
    max-width: 1200px;
    width:100%;
    place-self: start center;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li.bars{
    visibility: hidden;
}
main{
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    height: 100vh;
}
footer{
    grid-area: content;
    place-self: end center;
    height: 50px;
    width: 100%;
    display: grid;
    place-content: center;
    border-top: 2px solid #ffffff;
}

/* TABLET */
@media (max-width: 960px){
    header{
        font-weight: 700;
        background-color: #252525;
    }
    .profile{
        display: flex;
        flex-direction: column;
        font-size: 2.25rem;
        font-weight: 700;
    }
    ul.menu{
        display: none;
    }
    li.bars{
        transform: translate(-80%, 0%);
        font-size: 48px;
        visibility: visible;
    }
    .logo{
        transform: translate(10%, 0%);
    }
    .home{
        height: 1000px;
    }
    .profile__text{
        font-size: 3.75rem;
    }
    .profile__name{
        font-size: 4.25rem;
        color: var(--primary-color);
    }
    #sobre-mim.sobre-mim{
        height: 1200px;
        grid-template-areas: 
        "title title"
        "description description"
        "skills skills";
        grid-template-rows: auto 0.5fr;
        grid-template-columns: 1fr 1fr;
        gap: 64px;
    }
    .section-title{
        grid-area: title;
        font-size: 120px;
        text-align: center;
        background-image: linear-gradient(#666, #000);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    h2.section-title{
        font-size: 140px;
        text-align: center;
        gap: 32px
        
    }
    h3.description__title{
        padding-left: 48px;
        font-size: 48px;
    }
    p.description__text{
        padding-left: 48px;
        font-size: 30px;
    }
    div.description{
        height: auto;
        
    }
    h3.skills__title{
        padding-left: 48px;
        font-size: 48px;
        height: 50px;
    }
    ul.skills__icons{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-right: 220px;
    }
    li.skills__icon i{
        font-size: 2.5rem;
    }
    li.skills__icon span{
        font-size: 1.75rem;
        font-weight: 700;
    }
    .projetos{
        height: 2700px;
    }
    h2.section-projetos{
        height: 700px;
        font-size: 160px;
        text-align: center;
        gap: 32px
    }
    ul.card-container{
        
        width: -100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }
    .card-container img{
       width: 600px;
    }
    #contato.contato{
        height: 800px;
        grid-template-areas: 
        "title title title"
        "contatos contatos links"
        "social social social";
        grid-template-rows: auto 0.5fr;
        
    }
    h2.section-contato{
        font-size: 180px;
        text-align: center;
        gap: 32px
    }
    li.social{
        font-size: 50px;
    }
    ul.social-container{   
        padding: 80px;
        padding-left: 256px;

    }
    ul.contato__container{
        padding-left: 48px;
        font-size: 24px;
    }
    ul.links-container{
        padding-right: 48px;
        font-size: 24px;
    }
}

/* CELULAR*/
@media (max-width: 640px){
    header{
        font-weight: 700;
        background-color: #252525;
        left: 0vh;
        justify-content: space-around;
    }
    div.profile{
        display: flex;
        flex-direction: column;
        font-size: 48;
        font-weight: 700;
        
    }
    ul.menu{
        display: none;
    }
    li.bars{
        transform: translate(10%, 0%);
        font-size: 48px;
        visibility: visible;
        
    }
    .logo{
        transform: translate(10%, 0%);
        font-weight: 700px;
    }
    .home{
        height: 800px;
    }
    .profile__text{
        font-size: 3.75rem;
    }
    .profile__name{
        font-size: 4.25rem;
        color: var(--primary-color);
    }
    #sobre-mim.sobre-mim{
        height: 2460px;
        grid-template-areas: 
        "title title"
        "description description"
        "skills skills";
        grid-template-rows: auto 0.5fr;
        grid-template-columns: 1fr 1fr;
        gap: 64px;
    }
    h2.section-title{
        grid-area: title;
        text-align: center;
        background-image: linear-gradient(#666, #000);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    h2.section-title{
        font-size: 99px;
        font-weight: 900;
        text-align: center;
        gap: 32px
        
    }
    h3.description__title{
        padding-left: 48px;
        font-size: 48px;
        
    }
    p.description__text{
        padding-right: 48px;
        font-size: 30px;
    }
    h3.skills__title{
        padding-left: 48px;
        font-size: 48px;
        height: px;
    }    
    ul.skills__icons{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 200px;
    }
    li.skills__icon{
        width: 250px;
        height: 250px;
    }
    li.skills__icon i{
        font-size: 4.5rem;
        
    }
    li.skills__icon span{
        font-size: 3.75rem;
        font-weight: 700;
    }
    .projetos{
        height: 2200px;
        padding-right: 120px;
    }
    h2.section-projetos{
        padding-left: 60px;
        height: 200px;
        font-size: 108px;
        text-align: center;
        gap: 32px

    }
    ul.card-container{
        height: auto;
        max-width: 450px;
        padding-left: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }
    .card-container img{
       width: 450px;
    }
    section#contato.contato{
        height: auto;
        grid-template-areas: 
        "title title title"
        "contatos contatos contatos"
        "social social social"
        "links links links";
        grid-template-rows: auto 0.5fr;
        justify-content: center;
    }
    h2.section-contato{
        font-size: 120px;
        text-align: center;
        gap: 32px
    }
    li.social{
        font-size: 30px;
    }
    h3.contato__title{
        padding-right: 40px;
        font-size: 64px;
    }
    ul.contato__container{
        height: auto;
        flex-direction: column;
        font-size: 28px;
        align-items: center;
        padding-right: 48px;
    }
    ul.social-container{
        height: auto;
        flex-direction: column;
        justify-content: center;
        padding-right: 256px;
    }
    li.social{
        width: 150px;
        height: 150px;
        font-size: 80px;
        
    }
    h3.links-title{
        font-size: 72px;
    }
    ul.links-container{
        padding-bottom: 160px;
        padding-left: 48px;
        height: auto;
        display: flex;
        align-items: center;
        font-size: 48px;
    }
    footer{
        font-size: 20px;
        height: 120px;
        font-weight: 400;
    }
}