:root{
    --primary-color: #FEDC00;
    --icon-color: #252525;
}
html{
    scroll-behavior: smooth;
}
body{
    display: grid;
    grid-template-areas: "content";
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    background-color: #000;
}
header{
    position: fixed;
    grid-area: content;
    z-index: 121;
    max-width: 1200px;
    width:100%;
    place-self: start center;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li.bars{
    display: none;
}
main{
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    height: 100vh;
}
footer{
    grid-area: content;
    place-self: end center;
    height: 50px;
    width: 100%;
    display: grid;
    place-content: center;
    border-top: 2px solid #ffffff;
}

/* TABLET */
@media (max-width: 960px){
    header{
        font-weight: 700;
        background-color: #252525;
    }
    .profile{
        display: flex;
        flex-direction: column;
        font-size: 2.25rem;
        font-weight: 700;
    }
    ul.menu{
        display: none;
    }
    li.bars{
        transform: translate(-80%, 0%);
        font-size: 48px;
    }
    .logo{
        transform: translate(10%, 0%);
    }
    .home{
        height: 1000px;
    }
    .profile__text{
        font-size: 3.75rem;
    }
    .profile__name{
        font-size: 4.25rem;
        color: var(--primary-color);
    }
    #sobre-mim.sobre-mim{
        height: 1200px;
        grid-template-areas: 
        "title title"
        "description description"
        "skills skills";
        grid-template-rows: auto 0.5fr;
        grid-template-columns: 1fr 1fr;
        gap: 64px;
    }
    .section-title{
        grid-area: title;
        font-size: 120px;
        text-align: center;
        background-image: linear-gradient(#666, #000);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    h2.section-title{
        font-size: 140px;
        text-align: center;
        gap: 32px
        
    }
    h3.description__title{
        padding-left: 48px;
        font-size: 48px;
    }
    p.description__text{
        padding-left: 48px;
        font-size: 30px;
    }
    div.description{
        height: auto;
        
    }
    h3.skills__title{
        padding-left: 48px;
        font-size: 48px;
        height: 50px;
    }
    ul.skills__icons{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-right: 220px;
    }
    li.skills__icon i{
        font-size: 2.5rem;
    }
    li.skills__icon span{
        font-size: 1.75rem;
        font-weight: 700;
    }
    .projetos{
        height: 2700px;
    }
    h2.section-projetos{
        height: 700px;
        font-size: 160px;
        text-align: center;
        gap: 32px
    }
    ul.card-container{
        
        width: -100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }
    .card-container img{
       width: 600px;
    }
    #contato.contato{
        height: 800px;
        grid-template-areas: 
        "title title title"
        "contatos contatos links"
        "social social social";
        grid-template-rows: auto 0.5fr;
        
    }
    h2.section-contato{
        font-size: 180px;
        text-align: center;
        gap: 32px
    }
    li.social{
        font-size: 50px;
    }
    ul.social-container{   
        padding: 80px;
        padding-left: 256px;

    }
    ul.contato__container{
        padding-left: 48px;
        font-size: 24px;
    }
    ul.links-container{
        padding-right: 48px;
        font-size: 24px;
    }
}

/* CELULAR*/
@media (max-width: 640px){
    .profile{
        display: flex;
        flex-direction: column;
    }
    .menu{
        transform: translate(50%, 120%);
        gap: 32px;
        font-size: 1.25rem;
    }
    .logo{
        display: none;
    }
    .section-title{
        grid-area: title;
        font-size: 120px;
        text-align: center;
        background-image: linear-gradient(#666, #000);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    h2.section-title{  
        font-size: 100px;
        text-align: center;
        gap: 32px
        
    }
    h3.description__title{
        transform: translate(5%, -180%);
        font-size: 24px;
    }
    p.description__text{
        transform: translate(5%, -20%);
        font-size: 16px;
    }
    h3.skills__title{
        transform: translate(-20%, -180%);
        font-size: 24px;
        
    }
    ul.skills__icons{
        transform: translate(-30%, -20%);
        width: 75%;
        height: 60%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
    li.skills__icon i{
        font-size: 1.5rem;
    }
    li.skills__icon span{
        font-size: 1.75rem;
        font-weight: 700;
    }
    h2.section-projetos{
        transform: translate(-0%, 20%);
        font-size: 100px;
        text-align: center;
        gap: 32px
    }
    ul.card-container{
        transform: translate(-0%, -10%);
        width: -100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }
    h2.section-contato{
        transform: translate(-0%, 0%);
        font-size: 100px;
        text-align: center;
        gap: 32px
    }
    ul.social-container{
        transform: translate(-20%, -350%);
    }
    ul.contato__container{
        transform: translate(20%, -0%);
        
    }
    ul.links-container{
        transform: translate(-80%, -0%);
    }
} 